a {
    font-weight: bold;
}
body{
    background-color: grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.custom-list-element{
    cursor: pointer ;
}
.mainContent{
    margin: auto;
    width: 59vw;
    height: 100%;
}
@media (max-width: 960px) {
    h1 {
        font-size: 3vh;
    }
    body{
        font-size: 3vh;
    }
}

@media (min-width: 960px){

    .mainContent{
        margin: auto;
        width: 59vw;
        height: 100%;
    }
    body{
        font-size: 1.5vw;
    }
    h1 {
        font-size: 2vw;
    }
}

