table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 1rem;
}
table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
}
table th,
table td {
    padding: 0.7rem 1rem;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: hsl(0, 0%, 85%);
}

table tbody tr:nth-of-type(even) {
    filter: brightness(110%)
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr:hover {
    filter: brightness(80%)
}

